@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
    font-family: 'Lato', sans-serif;
}

.btn-submit {
    filter: drop-shadow(2px 2px 1px #918f8f);

}

.switch {
    filter: drop-shadow(2px 2px 1px #918f8f);

}

.form {
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    width: 100%;
}

.arrow {
    animation-name: moviendrew;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    font-size: 100px;
}

@keyframes moviendrew {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(20px);
    }
}